
@using Microsoft.AspNetCore
@using GolfBAIST_Project.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{

<div class="dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Member
    </a>
    <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton">
        <a class="nav-link text-dark" asp-area="" asp-page="/Member/SubmitApplication">Submit Application</a>
        <a class="nav-link text-dark" asp-area="" asp-page="/Member/BookReservation">Book Reservation</a>
        <a class="nav-link text-dark" asp-area="" asp-page="/Member/ReviewApplication">Review Application</a>
        <a class="nav-link text-dark" asp-area="" asp-page="/Member/ReviewReservation">Review Reservation</a>
    </div>
</div>

}
