@page
@model GolfBAIST_Project.Pages.Member.BookReservationModel
@{
}


@section Scripts
    {
    @*<link href="~/lib/jquery/dist/jquery.timepicker.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.timepicker.js"></script>*@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.timepicker.js"></script>
    <link href="~/lib/jquery/dist/jquery.timepicker.css" rel="stylesheet" />
    <script type="text/javascript">

        //Gold Start Time
        $(document).ready(function () {
            $('#goldStartTime').timepicker({});
        });

        $('#goldStartTime').timepicker({
            timeFormat: 'h:mm p',
            interval: 8,
            minTime: '10',
            maxTime: '6:00pm',
            defaultTime: '11',
            startTime: '10:00',
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });

        //Bronze Start Time
        //from 7am - 3pm
        $(document).ready(function () {
            $('#bronzeStartTime').timepicker({
                step: 8,
                minTime: '10:00am',
                maxTime: '9:00pm',
                defaultTime: false,
                startTime: '10:00',
                dynamic: false,
                dropdown: true,
                scrollbar: true,
                disableTimeRanges: [
                    ['11:00am', '13:30pm'],
                    ['4:20pm', '5:00pm']
                ],
            });
        });

        
      
        //Bronze End Time
        //#1 from 7am - 3pm
        $(document).ready(function () {
            $('#bronzeEndTime1').timepicker({});
        });
        $('#bronzeEndTime1').timepicker({
            timeFormat: 'h:mm p',
            interval: 8,
            minTime: '7',
            maxTime: '3:00pm',
            defaultTime: '7',
            startTime: '7:00',
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });


@*
        $(document).ready(function () {
            $('#bronzeStartTime1').click(function () {
                $('#bronzeEndTime2').attr('disabled', 'disabled');
            });
            $('#bronzeStartTime2').click(function () {
                $('#bronzeEndTime2').removeAttr('disabled');
            });
        });*@
    </script>
}

<div class="col-md-4">
    <label for="memberType" class="form-label">Membership Type</label>
    <input type="text" class="form-control" id="memberType" value="@Model.memberType" readonly>
</div>

<div class="col-md-4">
    <label for="memberStatus" class="form-label">Member Status</label>
    <input type="text" class="form-control" id="memberStatus" value="@Model.memberStatus" readonly>
</div>

<p></p>



@if ((Model.memberStatus).Equals("Accepted"))
{

    <form class="row g-3" method="post">
        <div class="col-md-4">
            <label for="memberId" class="form-label"> Id</label>
            <input type="text" class="form-control" id="memberId" value="@Model.memberId" asp-for="AddReservationRequest.MembersInfoMemberId" readonly>
        </div>
        <p></p>
        <div class="col-md-4">
            <label for="selectDate" class="form-label">Date</label>
            <input type="date" class="form-control" id="selectDate" asp-for="AddReservationRequest.reservationDate">
        </div>
        <div class="col-md-4">
            <label for="playerNum" class="form-label">Number of Players</label>
            <select id="playerNum" class="form-select" asp-for="AddReservationRequest.Players">
                <option selected>Choose...</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>
        <p></p>

        @if ((Model.memberType).Equals("Gold"))
        {
            <div class="col-md-4">
                <label for="goldStartTime" class="form-label">Start Time</label>
                <input type="text" class="form-control" id="goldStartTime" asp-for="AddReservationRequest.StartTime">
            </div>
            <div class="col-md-4">
                <label for="goldEndTime" class="form-label">End Time</label>
                <input type="text" class="form-control" id="goldEndTime" asp-for="AddReservationRequest.EndTime">
            </div>
        }
        else if ((Model.memberType).Equals("Sliver"))
        {
            <div class="col-md-4">
                <label for="sliverStartTime" class="form-label">Start Time</label>
                <input type="text" class="form-control" id="sliverStartTime" asp-for="AddReservationRequest.StartTime">
            </div>
            <div class="col-md-4">
                <label for="sliverEndTime" class="form-label">End Time</label>
                <input type="text" class="form-control" id="sliverEndTime" asp-for="AddReservationRequest.EndTime">
            </div>
        }
        else
        {
            <div class="col-md-4">
                <label for="bronzeStartTime" class="form-label">Start Time1</label>
                <input type="text" class="form-control" id="bronzeStartTime" asp-for="AddReservationRequest.StartTime">
            </div>

            <div class="col-md-4">
                <label for="bronzeEndTime" class="form-label">End Time1</label>
                <input type="text" class="form-control" id="bronzeEndTime" asp-for="AddReservationRequest.EndTime">
            </div>

        }

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit Reservation</button>
            <button type="reset" class="btn btn-secondary">Clear Reservation</button>
        </div>
    </form>
}
else
{
    <div>
        <p>no permission</p>
    </div>
}
