@page
@model GolfBAIST_Project.Pages.Member.ReviewApplicationModel
@{
}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <td>Application Id</td>
                <td>Name</td>
                <td>Application Statue</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var application in Model.MemberApplications)
            {
            <tr>
                <td>@application.ApplicationId</td>
                <td>@application.MemberLastName, @application.MemberFirstName</td>
                <td>@application.ApplicationStatus</td>
                <td><a href="/Member/ApplicationInfo/@application.ApplicationId">View</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>
