@page 
@model GolfBAIST_Project.Pages.ManageApplication.ReviewApplicationModel
@{
}

@{
    var message = (string)ViewData["MessageDescription"];

}
@if (!string.IsNullOrWhiteSpace(message.ToString()))
{
    <div class="container">
        <div class="alert alert-success alert-dismissible fade show mb-5" role="alert">
            @Html.Raw(message)
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

}


@if (Model.memberApplications != null)
{
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <td>Application Id</td>
                    <td>Name</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var application in Model.memberApplications)
                {
                    <tr>
                        <td>@application.ApplicationId</td>
                        <td>@application.MemberLastName, @application.MemberFirstName</td>
                        <td><a href="/ManageApplication/EditApplication/@application.ApplicationId">View</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="container">
        <p>No Member Applications Were Found.</p>
    </div>
}