@page
@model GolfBAIST_Project.Pages.ManageApplication.ReviewApplicationModel
@{
}


<div class="container">
    <table class="table">
        <thead>
            <tr>
                <td>Application Id</td>
                <td>Name</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var application in Model.memberApplications)
            {
                <tr>
                    <td>@application.ApplicationId</td>
                    <td>@application.MemberLastName, @application.MemberFirstName</td>
                    <td><a href="/ManageApplication/EditApplication/@application.ApplicationId">View</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
