@page
@model GolfBAIST_Project.Pages.ManageReservation.BookReservationModel
@{
}


<form class="row g-3">
    <div class="col-md-4">
        <label for="selectDate" class="form-label">Date</label>
        <input type="date" class="form-control" id="selectDate">
    </div>
    <div class="col-md-4">
        <label for="startTime" class="form-label">Start Time</label>
        <input type="time" class="form-control" id="startTime">
    </div>
    <div class="col-md-4">
        <label for="endTime" class="form-label">End Time</label>
        <input type="time" class="form-control" id="endTime">
    </div>
    <div class="col-md-4">
        <label for="playerNum" class="form-label">Players</label>
        <select id="playerNum" class="form-select">
            <option selected>Choose...</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
    </div>

    <div class="col-md-12">
        <label for="holes" class="form-label">Select Holes</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="eighteenHoles" value="option1" checked>
            <label class="form-check-label" for="eighteenHoles">
                Default radio
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="nineHoles" value="option2">
            <label class="form-check-label" for="nineHoles">
                Second default radio
            </label>
        </div>
    </div>


    <div class="col-12">
        <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
</form>